/* container{
  font-family: Arial,Helvetica,sans-serif;
} */
body{
  font:15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.container{
  width:100%;
  /* Makes the page responsive */
  margin:0;
  height: 100%;
  position: relative;
  overflow:hidden;
  min-height: 100%;
  /* so there's no horizontal scroll bar */
}
header{
  background:darkviolet;
  color:white;
  padding-top:5px;
  min-height:30px;
  border-bottom:5px black solid;
}
header a{
  color:#FFFFFF;
  text-decoration: none;
  /* takes away link lines */
  text-transform: uppercase;
  font-size: 16px;
}
header ul{
  margin:0;
  padding:0;
}
header li{
  float: left;
  /* Right flips the order of the list backwards. */
  display: inline;
  padding: 0 10px 0 10px;
  /* Order of numbers: top, right, bottom, left. */
}

header #seoul{
  float:left;
}
header #seoul h1{
  margin:0;
}
header nav{
  float: right;
  margin-top: 5px;
}

/* header .highlight, header .current a{
  color: white;
  font-weight:bold;
} */

header a:hover{
  color: yellow;
  font-weight:bold;
}

/* Showcase;Hero Image */
#showcase{
background: url("../images/hero.jpg") no-repeat;
 height: 800px; 
 background-color: magenta;
 background-position: bottom;
 background-size: cover;
 text-align: center;
 color: white;
 margin: 0;
 border-bottom:5px black solid;
/* position: relative; */
}

#showcase h1{
  margin-top: 0px;
  font-size: 55px;
  /* margin-bottom: 2px; */
  color: black;
}

#showcase p{
  font-size:20px;
  font-weight: bold;
  background-color: blueviolet;
}


/* #boxes{
  text-align: center;
  color: white;
  background-color: blueviolet;
} */
#boxes .box{
  float: left;
  width: 33.1%;
  text-align: center;
  color: white;
  background-color: blueviolet;
  border-style: dashed; 
  border-color: white;

}

#boxes .box img{
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}
/* Footer */
footer{
  
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  color: white;
  background-color: darkviolet;
  margin: 0;
  /* margin-top: 5px; */
}
footer #seoulf{
  /* float:left; */
}
footer #seoulf h1{
  /* margin:0; */
}


 footer ul{
  /* margin: 0;
  padding: 0; */
}

footer li{
  /* float: left; */
  /* style: inline; */
  /* padding: 0 10px 0 10px; */
}

/* Activities and Festivities Page */

.page2 {
  background-color: blueviolet;
  text-align: center;
  color:#FFFFFF;
  border-bottom: 5px black solid; 
}
.heading{
  font-weight: bold;
  text-align: center;
  color: black;
  background: pink;
}


.column{
/* display: block; */
text-align: center;
background-color: darkviolet;
padding: 5px;
width: 35%;
margin: auto;
border-radius: 12px;
border: 2px dotted blueviolet;
box-shadow: 2px 2px 5px #bf00ff;
/* horizontal vertical blur */
margin-bottom: 10px;
}

.column img{
/* float: center; */
height: 200px;
width: 200px;
/* object-fit: contain; */
border-radius: 12%;
}


.column h3, h4, strong, p{
font-weight: bold;
color: white;
}


/* page 3 */
.page3{
  background: blueviolet;
  border-bottom:5px black solid;
}

form{
width: 420px;
margin: auto;
padding: 20px;
}
form h1{
  text-align: center;
  color: white;
  background: darkviolet;
  border-radius: 5px;
  border: 2px dotted white;
  box-shadow: 2px 2px 3px blueviolet;
}
form .contact {
  color:white;
  font-size: 18px;
  border-radius: 5px;
  width: 100%;
  background-color: darkviolet;
  border:2px dotted white;
  transition: all 0.3s;
  padding: 12px;
  margin-bottom: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px blueviolet;
}

textarea {
 height: 150px;
 resize: none;
}

[type="submit"] {
  width: 100%;
  background:blueviolet;
  border-radius:5px;
  border:2px dotted white;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  font-weight: bold;
}
[type="submit"]:hover { background: black; }